* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellefair', serif; 
}

/* HEADER */
h1 {
    font-size: 350%;
    font-weight: 400;
}

//div {
    border: 1px solid red;
}

div.container {
    text-align: center;
    margin-top: 2%;
}

div.container img {
    width: 15%;
    height: auto;
    display: inline-block;
    border-radius: 100%;
    margin: auto;
}

/* Nav stuff */

div.nav {
    text-align: center;
    margin-top: 2%;
}

div.nav li {
    display: inline-block;
    padding: 0 3%; 
    font-size: 225%;
}

div.nav a {
    text-decoration: none;
    color: black; 
}

div.nav a:hover{
    text-decoration: underline;
}

/* ABOUT */
div.About {
    font-size: 140%;
    font-weight: 400;
    text-align: center;
    margin-top: 5%;
    line-height: 30px;
}