    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    #nav {
        float: left;
        margin: 0 0 3em 0;
        padding: 0;
        list-style-type: none;
        margin-left: 1275px;
        white-space: nowrap;
    }
    /* NAV BAR  */
    
    #nav li {
        float: left;
        display: inline-block;
        padding: 20px 13px;
        line-height: 30px;
        outline: none;
        vertical-align: middle;
        font-family: arial, sans-serif;
        font-size: 13px;
        text-align: right;
        white-space: nowrap;
        opacity: .75;
    }
    
    #nav a {
        color: #2e2c2c;
    }
    
    a:link {
        text-decoration: none;
    }
    
    #nav a:hover {
        text-decoration: underline;
    }
    /* MAIN BODY */
    
    div.container {
        text-align: center;
        display: block;
        position: relative;
        top: 100px;
    }
    
    form {
        position: relative;
        text-align: center;
        top: 115px;
    }
    
    input[type=text] {
        width: 500px;
        height: 35px;
    }
    
    .search-box {
        position: relative;
        bottom: 110px;
    }
    
    .myButton {
        background-color: #dbdbdb;
        border-radius: 1.5px;
        display: inline-block;
        cursor: default;
        color: #555;
        font-family: Arial;
        font-size: 13px;
        padding: 11px 23px;
        text-decoration: none;
        position: relative;
        top: 120px;
        right: 75px;
        left: 7px;
    }
    
    .myButton:hover {
        border: 1px solid #000000;
        color: black;
    }
    /* Bottom of page */
    
    #bot-left li {
        position: relative;
        float: left;
        display: inline-block;
        padding: 0 13px;
        line-height: 30px;
        outline: none;
        vertical-align: middle;
        font-family: arial, sans-serif;
        font-size: 13px;
        text-align: right;
        white-space: nowrap;
        opacity: .75;
        top: 375px;
        left: 50px;
    }
    
    #bot-left a {
        color: #2e2c2c;
    }
    
    #bot-left a:hover {
        text-decoration: underline;
    }
    
    #bot-right li {
        position: relative;
        float: left;
        display: inline-block;
        padding: 0 13px;
        line-height: 30px;
        outline: none;
        vertical-align: middle;
        font-family: arial, sans-serif;
        font-size: 13px;
        text-align: right;
        white-space: nowrap;
        opacity: .75;
        top: 375px;
        left: 1075px;
    }
    
    #bot-right a {
        color: #2e2c2c;
    }
    
    #bot-right a:hover {
        text-decoration: underline;
    }
